#!/sbin/nft -f
# Based on https://wiki.gentoo.org/wiki/Nftables/Examples

flush ruleset

table inet filter {
	chain input {
		type filter hook input priority 0; policy drop;

		ct state invalid drop
		ct state {established, related} accept

		iif lo accept
		iif != lo ip daddr 127.0.0.1/8 drop
		iif != lo ip6 daddr ::1/128 drop 

		ip protocol icmp icmp type echo-request limit rate 2/second accept
		ip6 nexthdr icmpv6 icmpv6 type {destination-unreachable, packet-too-big, time-exceeded, parameter-problem, echo-request, echo-reply, router-solicitation, router-advertisement, neighbour-solicitation, neighbour-advertisement} limit rate 2/second accept

{% for rule in _common_combined_firewall_rules %}{% for ip_version in ['ip', 'ip6']  %}

		{% if (rule.reachable_from is defined) and (rule.reachable_from|length > 0) -%}
		{{ ip_version }} saddr { ${{ rule.reachable_from | join(', $') }} } {% endif -%}
		{{ rule.service_type|default('tcp') }} dport {{ rule.service_port }} {% if rule.service_type|default('tcp') == 'tcp' %}ct state new {% endif %}accept
		{%- if (rule.comment is defined) and (rule.comment != "") %} comment "{{ rule.comment }}"{% endif %}
		
{% endfor %}{% endfor %}

	}

	chain forward {
		type filter hook forward priority 0; policy drop;
	}

}
