
   * * *   Welcome to Marcsello Corp. internal network!   * * *


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                                                               !!
!!      WARNING: Unauthorized access is strictly forbidden!      !!
!!      All connection attempts are monitored and recorded.      !!
!!   Disconnect IMMEDIATELY if you are not an authorized user!   !!
!!                                                               !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

You are about to log in to {{ inventory_hostname }}.
