user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
}

http {
	{% if nginx_http_proxy_protocol or nginx_https_proxy_protocol %}
	# I'm not sure what this does when it does not recieve a request over proxy protocol
	real_ip_header proxy_protocol;

	set_real_ip_from 127.0.0.0/8;
	set_real_ip_from ::1/128;
	{% for allowed in nginx_proxy_protocol_accept_overrides %}
	{% if ipam[allowed]['service_addr']['ip'] is defined %}
	set_real_ip_from {{ ipam[allowed]['service_addr']['ip'] }};
	{% endif %}
	{% if ipam[allowed]['service_addr']['ip6'] is defined %}
	set_real_ip_from {{ ipam[allowed]['service_addr']['ip6'] }};
	{% endif %}
	{% endfor %}

	{% endif %}

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	server_tokens off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	error_log /var/log/nginx/main_error.log;

	# proxied trough haproxy, so we don't need compression
	gzip off;

	{% if nginx_bind_https %}
	include {{ nginx_ssl_config_snippet_path }};
	{% endif %}

	include /etc/nginx/conf.d/*.conf;
}
