server {
    {% if nginx_bind_http %}
    listen {{ nginx_bind_http_localhost_only|ternary('127.0.0.1', '0.0.0.0') }}:{{ nginx_http_port }}{% if nginx_http_proxy_protocol|default(false) %} proxy_protocol{% endif %}{% if item.default_server|default(false) %} default_server{% endif %};
    listen {{ nginx_bind_http_localhost_only|ternary('[::1]', '[::]') }}:{{ nginx_http_port }}{% if nginx_http_proxy_protocol|default(false) %} proxy_protocol{% endif %}{% if item.default_server|default(false) %} default_server{% endif %};
    {% endif %}

    {% if nginx_bind_https %}
    listen {{ nginx_bind_https_localhost_only|ternary('127.0.0.1', '0.0.0.0') }}:{{ nginx_https_port }} ssl{% if nginx_https_http2|default(true) %} http2{% endif %}{% if nginx_https_proxy_protocol|default(false) %} proxy_protocol{% endif %}{% if item.default_server|default(false) %} default_server{% endif %};
    listen {{ nginx_bind_https_localhost_only|ternary('[::1]', '[::]') }}:{{ nginx_https_port }} ssl{% if nginx_https_http2|default(true) %} http2{% endif %}{% if nginx_https_proxy_protocol|default(false) %} proxy_protocol{% endif %}{% if item.default_server|default(false) %} default_server{% endif %};

    ssl_certificate		{{ [nginx_ssl_keys_dir, item.cert_name|default(item.server_name[0]) + '.crt']|path_join }};
    ssl_certificate_key {{ [nginx_ssl_certs_dir, item.cert_name|default(item.server_name[0]) + '.key']|path_join }};
    {% endif %}

    port_in_redirect off;

    root {{ [nginx_static_root, item.server_name[0]]|path_join }};

    server_name {{ item.server_name|join(' ') }};

    index {{ item.index|default('index.html') }};

    access_log /var/log/nginx/{{ item.server_name[0] }}_access.log;
    error_log /var/log/nginx/{{ item.server_name[0] }}_error.log;

    {% for location in item.locations %}

    location {{ location.location }} {
        {% if location.type == 'static' %}try_files $uri $uri/ {{ location.spa|default(false)|ternary('/' + location.index|default(item.index|default('index.html')), '=404')}};{% endif %}
        {% if location.type == 'proxy' %}
        proxy_pass {{ location.proxy_pass }};
        {% if location.proxy_pass_forwarded_ip|default(true) %}
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Proto https;
        {% endif %}
        proxy_headers_hash_bucket_size 512;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        {% endif %}
        {% if not location.access_log|default(true) %}access_log off;{% endif %}

        {% if location.index is defined %}
        index {{ location.index }};
        {% endif %}

        {% if location.error_pages is defined %}{% for code, path in location.error_pages.items() %}
        error_page {{ code }} {{ path }};
        {% endfor %}{% endif %}

        {{ location.custom|default('')|indent( width=8, first=False) }}
    }

    {% endfor %}

    {% if item.error_pages is defined %}{% for code, path in item.error_pages.items() %}
        error_page {{ code }} {{ path }};
    {% endfor %}{% endif %}

    {{ item.custom|default('')|indent( width=4, first=False) }}

}
